.login {
    background-color: #F4EBE5;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_img img {
    width: 700px;
    /* border-radius: 100px; */
    transform: rotate(360deg)

}

.login_container {
    /* border: 3px solid rgb(56, 55, 83); */
    /* border-left: none; */
    position: relative;
    right: 250px;
    padding:90px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 6px rgb(143, 118, 140,0.6),
        0 5px 30px rgb(143, 118, 140,0.4);
}
.login_container h1 {
    display: flex;
    margin-top: -50px;
    margin-bottom: 50px;
    color: rgb(56, 55, 83);
    align-items: center;
    justify-content: center;
}
.login_container .btn{
    position: absolute;
    bottom: 4.5%;
    left: 0;
    width: 80%;
    padding: 10px 0;
    /* border-top-right-radius: 30px; */
    /* border-bottom-right-radius: 10px; */
    box-shadow: 0 8px 6px rgb(143, 118, 140, 0.8),
            0 5px 30px rgb(143, 118, 140, 0.2);
    cursor: pointer;
}
.login_container form {
    display: flex;
    flex-direction: column;
}
.login_container form h3 {
    text-align: left;
    margin-bottom: 10px;
}
.login_container  input {
    padding: 10px 10px;
    margin-bottom: 30px;
    outline: none;
    width: 220px;
}
.login_container button {
        background-color: rgb(56, 55, 83);
        color: white;
        border: none;
        padding: 8px 20px;
        width: max-content;
        font-weight: 600;
        cu
}